@page "/"
@page "/{PageNumber}"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
<h2>Home page</h2>
<p>This is a demonstration page to teach some basic concepts about Blazor.</p>
<p>Attention! Blazor is experimental. What appears here may have changed tomorrow without notice!</p>

<h3>Search books</h3>
<label for="TxtSearch">Search:</label>
<input type="search" id="txtSearch" bind="@txtSearch" onkeypress="@SearchKeypress" />
<button ref="@btnSearch" onclick="@SearchBooks">Search books</button>

@functions
{

private string txtSearch { get; set; }


private ElementRef btnSearch;

private async void SearchKeypress(UIKeyboardEventArgs e)
{
	if (e.Key == "Enter")
	{
		await Interop.JsInterop.FocusAsync(btnSearch);
		await Interop.JsInterop.ClickAsync(btnSearch);
	}
}

private void SearchBooks()
{
	if (String.IsNullOrWhiteSpace(txtSearch))
	{
		this.QuerySelectorToFocusAfterRendering = "#txtSearch";
		return;
	}
	UriHelper.NavigateTo($"/books/search?searchTerm={txtSearch}");
}

protected override Task OnInitAsync()
{
	Title = "Home page";
	return Task.CompletedTask;
}


}