@page "/"
@page "/{PageNumber}"
@inject NavigationManager NavigationManager
@inject IJSRuntime   JSRuntime

<h2>Home page</h2>
<p>This is a demonstration page to teach some basic concepts about Blazor.</p>
<p>Unlike the Web Assembly-based version, the server-hosted Blazor is a stable version and can be used on production loads.</p>

<h3>Search books</h3>
<label for="TxtSearch">Search:</label>
<input type="search" id="txtSearch" @bind="txtSearch" />
<button @ref="btnSearch" @onclick="SearchBooks">Search books</button>

@code
{
	[Parameter] public int PageNumber { get; set; } = 1;

	private string txtSearch { get; set; }


	private ElementReference btnSearch;


	private void SearchBooks()
	{
		JsInterop.AlertAsync(JSRuntime, "vamos!");
		if (String.IsNullOrWhiteSpace(txtSearch))
		{
			this.QuerySelectorToFocusAfterRendering = "#txtSearch";
			return;
		}
		NavigationManager.NavigateTo($"/books/search?searchTerm={txtSearch}");
	}

	protected override async Task OnInitializedAsync()
	{
		Title = "Home page";
		await base.OnInitializedAsync();
	}


}