@using Blazor.LibraryExample.Shared.Entities
@using Blazor.LibraryExample.Client.Components
@using Blazor.LibraryExample.Client.Dtos
@page "/books/Novelties/{SPageNumber}"
@page "/books/Novelties"
<h2>Editorial news in this month, página @PageNumber</h2>
<p><a href="/books/add">Add new book</a></p>
<BooksTable PageNumber="@PageNumber" Type="@BooksTable.TableType.Novelties" TableSummary="Table with editorial news in this month" RootPage=@this></BooksTable>
@functions			
{
	[Parameter] string SPageNumber { get; set; } = "1";

	protected int PageNumber
	{
		get
		{
			return Int32.TryParse(SPageNumber, out int pageNumber) ? pageNumber : 1;
		}
	}

	protected override Task OnInitAsync()
	{
		this.Title = "Editorial news in this month";
		return Task.CompletedTask;
	}

}