<div class="top-row pl-4 navbar navbar-dark" role="heading" aria-level="1">
	<a class="navbar-brand" href="">Blazor library example</a>
	<button class="navbar-toggler" onclick=@ToggleNavMenu>
		<span class="navbar-toggler-icon"></span>
	</button>
</div>
<nav>
	<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
		<ul class="nav flex-column">
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="" Match=NavLinkMatch.All>
					<span class="oi oi-home" aria-hidden="true"></span> Home
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="books/novelties">
					<span class="oi oi-plus" aria-hidden="true"></span> Novelties
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="books/mostDownloadeds">
					<span class="oi oi-list-rich" aria-hidden="true"></span> Books most downloaded
				</NavLink>
			</li>
		</ul>
	</div>
</nav>
@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
	collapseNavMenu = !collapseNavMenu;
}
}
